@font-face {
    font-family: anormal;
    src: url(/font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

* {
    margin: 0px;
    padding: 0px;
}

/* Navigation */

.nav {
    margin-inline: 24px;
    margin-block-start: 12px;
}

.nav-button {
    padding-left: 19px;
    padding-bottom: 19px;
    padding-right: 19px;
    padding-top: 19px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    line-height: 18px;
    height: 56px;
    font-size: 14px;
    justify-content: center;
    font-family: anormal;
    font-weight: 400;
    align-items: center;
    text-align: center;
    color: #222222;
    min-width: 94px;
    min-height: 56px;
    width: 100%;
    display: flex;
    position: relative;
    background-color: white;
}

.nav-span {
    max-width: 100%;
    font-weight: 500;
    line-height: 1.125rem;
    font-size: 0.875rem;
    justify-content: center;
    align-items: center;
    display: grid;
    letter-spacing: 0.01px;
    gap: 8px;
    grid-template-columns: auto minmax(0, 1fr);
}

.search {
    display: block;
    height: 12px;
    width: 12px;
}

.start-span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-icon {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0px;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 20px;
    position: relative;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

/* homes */

.homes {
    opacity: 1;
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 68px;
    font-size: 100%;
    font-family: inherit;
}

.homes-span {
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
    transform: scale(1.33);
    height: 36px;
    width: 36px;
    display: block;
}

.homes-span video {
    transform: scale(1.5);
    left: 0;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
}

.homes-text {
    line-height: 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
}

.homes-text:hover {
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
    border-bottom: 3px solid black;
}

/* Experiences */

.experiences {
    opacity: 1;
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 68px;
    font-size: 100%;
    font-family: inherit;
}

.exp-span {
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
    transform: scale(1.33);
    height: 36px;
    width: 36px;
    display: block;
}

.exp-span video {
    transform: scale(1.5);
    left: 0;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
    position: absolute;
}

.exp-text {
    line-height: 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
}

.exp-text:hover {
    line-height: 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
    border-bottom: 3px solid black;
}

.new-icon {
    padding: 3px 6px;
    font-size: 8px;
    box-shadow: 0 0.953955px 1.90791px rgba(60, 77, 107, 0.25), 0 3.81582px 5.72373px rgba(60, 77, 107, 0.25), inset 0 0 2px 0.5px #001c40, inset 0 -1px 3px #d7ebff;
    background: linear-gradient(357.5deg, #3e567c 1.59%, #3a5475 21.23%, #2d3c5b 58.6%, #809dc0 97.4%);
    border-radius: 10px 10px 10px 2px;
    transform-origin: bottom left;
    /* left: 100%;
    top: -5px; */
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-right: -68px;
    bottom: 48px;
}

.new-text {
    line-height: 11px;
    font-weight: 700;
    font-family: anormal;
    text-align: center;
    letter-spacing: 0.32px;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    position: relative;
    font-size: 8px;
    background: linear-gradient(173.86deg, rgba(255, 255, 255, 0.9) 90.56%, rgba(191, 205, 213, 0.9) 82.32%);
    background-clip: text;
}

/* Services */

.services {
    opacity: 1;
    margin-bottom: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 68px;
    min-height: 100%;
    font-family: inherit;
}

.services-span {
    margin-bottom: 6px;
    margin-top: 4px;
    position: relative;
    transform: scale(1.33);
    height: 36px;
    width: 36px;
    display: block;
}

.services-span video {
    transform: scale(1.5);
    left: 0;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
}

.services-text {
    line-height: 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
}

.services-text:hover {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    text-wrap: nowrap;
    color: #6a6a6a;
    display: block;
    cursor: pointer;
    font-family: anormal;
}

/* Body */

.main-body {
    margin-bottom: 49px;
}

.bengaluru-main {
    display: grid;
    grid-template-columns: 375px;
}

.bengaluru-head {
    margin-inline-end: 24px;
    margin-inline-start: 24px;
    margin-block-start: 32px;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 12px;
    display: flex;
}

.pune-head {
    margin-top: 30px;
}

.bengaluru-head h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: start;
    font-family: anormal;
    letter-spacing: -0.18px;
}

.bengaluru-arrow img{
    display: block;
    height: 12px;
    width: 12px;
    margin-left: 2px;
    stroke: black;
}

.barrow{
    height: 12px;
    width: 12px;
    margin-left: 2px;
    stroke: black;
}

.bengaluru-body {
    grid-auto-flow: column;
    display: grid;
    grid-auto-columns: calc((100% - 11px) / 2);
    gap: 11px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 3px 24px 0px;
}

.bfirst{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 333px;
    height: 100%;
    gap: 3px;
    position: relative;
}

.bfirst-img img{
    border-radius: 20px;
    box-shadow: ;
    aspect-ratio: 20 / 19;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    object-position: center;
    height: 150.09px;
    min-width: 150.09px;
}

.guest{
    position: absolute;
    padding: 11px 12px 12px 12px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    gap: 12px;
}

.guest span{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 2px ;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    font-feature-settings: "salt";
    line-height: 13px;
    font-size: 11px;
    color: #222222;
    padding: 5px 9px;
    backdrop-filter: blur(32px);
    font-family: anormal;
}

.guest img{
    width: 24px;
    height: 24px;
}

.bfirst-content{
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    display: grid;
    gap: 2px;
    grid-template-columns: minmax(0, 1fr);  
}

.bfirst-bottom{
    display: flex;
    flex-wrap: wrap;
}

.bfirst-text{
    font-family: anormal;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-wrap-style: pretty;
}

.cost-rate{
    font-family: anormal;
    font-weight: 400;
    color: #6a6a6a;
    line-height: 16px;
    font-size: 12px;
}

.dot{
    font-size: 12px;
    font-weight: bold;
    color: #c1c1c1;
    font-family: anormal;
}

.star img{
    line-height: 16px;
    height: 8px;
    width: 8px;
    margin-right: 2.5px;
    margin-bottom: 1px;
}